@page "/version2/demos/many-files"
@layout Website.Client.Pages.version2.Shared.MainLayoutOld
<h1>Many input file</h1>
<p>In this page can see how to use a many input file in the same page</p>

<section class="content">
    <p>@Messages</p>
    <div class="row">
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
        <div class="col">
            <InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <button @onclick="Upload" class="btn btn-success">Upload All</button>
            <p>@Messages</p>
        </div>
    </div>
    <hr />
    
    <pre>
<code>&lt;section class="content"&gt;
    &lt;p&gt;@@Messages&lt;/p&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;hr /&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
            &lt;InputFileExtended ButtonShow="false" OnUploadedFile="GetFile" MaxUploatedFiles="1" FileCss="img-fluid" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;hr /&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;
            &lt;button @@onclick="Upload" class="btn btn-success"&gt;Upload All&lt;/button&gt;
            &lt;p&gt;@@Messages&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;

@@code{
        List&lt;FileUploadContent&gt; Files = new List&lt;FileUploadContent&gt;();
        string Messages;

        void GetFile(FileUploadEventArgs e)
        {
            Files.Add(e.File);
            if (Files.Count &gt; 6) Files.RemoveAt(0);
            Messages = $"Files selected: {Files.Count}";
        }

        async Task Upload()
        {
            int c = Files.Count;
            if (c&gt; 0)
            {
                for (int i = 0; i &lt; c; i++)
                {
                    Messages = $"Simulate Uploading file {Files[i].Name}";
                    StateHasChanged();
                    await Task.Delay(750);
                }
                Messages = $"Files uploaded {c}";                
                StateHasChanged();
            }
            else
            {
                Messages = "No files to upload";
            }
        }
}
</code>
</pre>
</section>
