@page "/version2/how-to-use/change-buttons"
@layout Website.Client.Pages.version2.Shared.MainLayoutOld
<h1>How to use</h1>
<p>This is the most basic use with changing the button texts and message when select files. Also need to set the action form and the response model from the action form to upload files.</p>
<div class="row">
    <div class="col">
        <h2>Change buttons text</h2>
        <InputFileExtended TargetToPostFile="files"
                           CleanOnSuccessUpload="true"
                           ButtonShow="true"
                           OnSave="Save"
                           SelectionText="@ChosenText">
            <InputContent>
                <i class="oi oi-file"></i>
                <span>@SelectText</span>
            </InputContent>
            <ButtonContent>
                <i class="oi oi-cloud-upload"></i>
                <span>@UploadText</span>
            </ButtonContent>
        </InputFileExtended>
        <p>@Messages</p>
        <pre>
<code>&lt;InputFileExtended 
        SelectionText="chosen"
        ButtonShow="true"
        TargetToPostFile="upload/file" &gt;
        &lt;InputContent>
            &lt;i class="oi oi-file"&gt;&lt;/i&gt;
            &lt;span&gt;Choose File&lt;/span&gt;
        &lt;/InputContent&gt;
        &lt;ButtonContent&gt;
            &lt;i class="oi oi-cloud-upload"&gt;&lt;/i&gt;
            &lt;span&gt;Upload&lt;/span&gt;
        &lt;/ButtonContent&gt;
    &lt;/InputFileExtended&gt;
                    
@@code{
    //No need nothing else
}
</code>
            </pre>
    </div>
    <div class="col">
        <h2>Properties</h2>
        <ul>
            <li><strong>TargetToPopstFile</strong> Url absolute or relative where send the file with the <var>MultipartFormDataContent</var>. Default field <i>files</i></li>
            <li><strong>SelectionText</strong> Text after the number of the files selected. Default <i>chosen</i></li>
            <li><strong>InputContent</strong> Any HTML code. Default plain text<i>Choose File</i></li>
            <li><strong>ButtonContent</strong>  Any HTML code. Default plain text<i>Upload</i></li>
        </ul>
        <p>
            Personalize your texts
        </p>
        <div class="form-row">
            <div class="form-group col">
                <label>Choose file text</label>
                <input type="text" class="form-control" placeholder="Select File button text" @bind="SelectText">
            </div>
            <div class="form-group col">
                <label>Chosen file text</label>
                <input type="text" class="form-control" placeholder="Chosen text" @bind="ChosenText">
            </div>
            <div class="form-group col">
                <label>Upload button text</label>
                <input type="text" class="form-control" placeholder="Upload Button text" @bind="UploadText">
            </div>
        </div>
    </div>
</div>


<GAdSense />