@page "/how-to-use/basic"
<h1>How to use</h1>
<h2>Basic use</h2>
<p>This is the most basic use. Similar to the traditinal Inputfile but getting a object with the files and cans ee the list of files upload.</p>
<p>Using defautls don't allow copy and paste, don't allow drag and drop, and allow select multiple files with a maximum 5 files and 1.5 Mb size.</p>
<div class="row">
    <div class="col">
        <InputFileComponent OnChange=LoadFiles />
        <p>@Messages</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>This example is the most basic use. Only can select image and show a preview.</p>
        <pre>
<code>&lt;InputFileComponent OnChange=LoadFiles /&gt;

@@code{
        async Task LoadFiles(FilesUploadEventArgs e)
        {
            // Manage your files
        }
}
</code>
        </pre>
    </div>
</div>

<GAdSense />