@page "/how-to-use/basic"

<h1>How to use</h1>
<p>This is the most basic use. Only need to set the action form and the response model from the action form to upload files.</p>
<div class="row">
    <div class="col">
        <h2>Basic Only show image in a page.</h2>
        <InputFileExtended />
    </div>
    <div class="col">
        <p>Code</p>
        <pre>
<code>&lt;InputFileExtended /&gt;

@@code{
    //No need nothing else
}
</code>
        </pre>
    </div>
</div>
@*<div class="row">
    <div class="col">
        <h2>Basic with sending file to the server</h2>
        <InputFileExtended TargetToPostFile="files"
                           CleanOnSuccessUpload="true"
                           OnSave="Save" />
        <p>@Messages</p>
    </div>
    <div class="col">
        <h2>Properties</h2>
        <ul>
            <li><strong>TargetToPostFile</strong> Url relative or absolute to send the file with a <var>POST</var> action</li>
        </ul>
        <p>Code</p>
        <pre>
<code>&lt;InputFileExtended TargetToPostFile="http://myserver.com/upload" /&gt;

@@code{
    //No need nothing else
}
</code>
        </pre>
    </div>
</div>*@