@page "/how-to-use/upload-button"
<h1>How to use</h1>
<p>This is the most basic use with changing the button texts and message when select files. Also need to set the action form and the response model from the action form to upload files.</p>
<div class="row">
    <div class="col">
        <h2>Change buttons text</h2>
        <InputFileComponent Parameters=ButtonParams>
            <InputContent>
                <i class="oi oi-file"></i>
                <span>@SelectText</span>
            </InputContent>
            <ButtonContent>
                <i class="oi oi-cloud-upload"></i>
                <span>@UploadText</span>
            </ButtonContent>
        </InputFileComponent>
        <p>@Messages</p>
        <pre>
<code>&lt;InputFileComponent Parameters=ButtonParams &gt;
        &lt;InputContent&gt
            &lt;i class="oi oi-file"&gt;&lt;/i&gt;
            &lt;span&gt;Choose File&lt;/span&gt;
        &lt;/InputContent&gt;
        &lt;ButtonContent&gt;
            &lt;i class="oi oi-cloud-upload"&gt;&lt;/i&gt;
            &lt;span&gt;Upload&lt;/span&gt;
        &lt;/ButtonContent&gt;
    &lt;/InputFileExtended&gt;
                    
@@code{
    InputFileParameters ButtonParams;

    protected override void OnInitialized()
    {
        ButtonParams = new InputFileParameters()
        {
            AllowPasteFiles = true,
            ButtonOptions = new ButtonOptions
            {
                ButtonShow = true,
                CleanOnSuccessUpload = true
            }
        };
        ButtonParams.ButtonOptions.OnSubmit = UploadFles;
    }
           
    bool UploadFles(IReadOnlyList&lt;FileUploadContent&gt files)
    {           
        Messages = "Uploading image ... (Simulate 3 seconds)";
        Task.Delay(3000).Wait();  
        Messages = $"Image/s Uploaded {files.Count}";
        return true;
    }
}
</code>
            </pre>
    </div>
    <div class="col">
        <h2>Properties</h2>
        <ul>
            <li><strong>Pamaeters</strong>It's a object of <var>InputFileParameters</var> where you can prepare the upload Func when user will click on the button.</li>
            <li><strong>OnChange</strong>It's not in the example, but you can also use this event to manage the files.</li>
        </ul>
        <p>
            Personalize your texts
        </p>
        <div class="form-row">
            <div class="form-group col">
                <label>Choose file text</label>
                <input type="text" class="form-control" placeholder="Select File button text" @bind="SelectText">
            </div>
            <div class="form-group col">
                <label>Chosen file text</label>
                <input type="text" class="form-control" placeholder="Chosen text" @bind="ChosenText">
            </div>
            <div class="form-group col">
                <label>Upload button text</label>
                <input type="text" class="form-control" placeholder="Upload Button text" @bind="UploadText">
            </div>
        </div>
    </div>
</div>


<GAdSense />