::deep input[type="file"] {
    display: none;
}

.input-file {
    padding: 0.3rem 2rem;
    box-shadow: darkgrey 0 0 0.5rem 0.1rem;
    border-radius: 0.2rem;
    display: inline-block;
    margin: 0 0.3rem;
    text-align: center;
}

.button-file {
    background: #e8e8e8;
}

.button-upload {
    background: #00188a;
    color: whitesmoke;
}

.info {
    color: forestgreen;
    width: 100%;
}

.dropzone {
    cursor: pointer;
    width: 100%;
    border: 2px dashed rgba(0,0,0,.25);
    border-radius: 20px;
    text-align: center;
    line-height: 180px;
    font-size: 1.5rem;
    color: rgba(0,0,0,.25);
}

.dropzone-drag {
    border: 2px dashed rgba(0,0,0,.65);
    color: rgba(0,0,0,.65);
}