@page "/get-started"

<h1>Get Started</h1>
<h2>Install</h2>
<p>
    You can add from nuget package to your project in one of the followings ways:
</p>
<ul>
    <li>Install using Package Manager Console <var>Install-Package BlazorInputFileExtended</var></li>
    <li>Install the packege from command line by running <var>dotnet add package BlazorInputFileExtended</var></li>
    <li>Add reference into the project file <var>&lt;PackageReference Include="BlazorInputFileExtended" Version="1.2.12" /&gt;</var></li>
    <li>Using Visual Nuget Packege Manager
        <hr />
        <img src="images/BlazorInputFileExtended.JPG" />
    </li>
</ul>
<h2>Import the namespace</h2>
<p>Open the <strong>_Imports.razor</strong> file of your Blazor application and add this line <var>@@using BlazorInputFileExtended</var></p>
<h2>Use a component</h2>
<p>
    When you need upload a file add this code in the razor view:
    <pre>
<code>
    &lt;InputFileExtended 
            TargetToPostFile="http://myserver.com/upload"            
            ButtonShow="true" CleanOnSuccessUpload="true"
    /&gt;
</code>
</pre>
    where <var>TargetToPostFile</var> is the end point where the form must be send the file.<br />
    <br />
    This code show a button like this:
    <InputFileExtended TargetToPostFile="files" ButtonShow="true" CleanOnSuccessUpload="true" />
</p>