@page "/"

<h1>BlazorInputFileExtenden Component</h1>
<h2>Version 1.0.1</h2>

<p>
    This component extend the functionality about traditional <string>InputFile</string>.
    Has many properties to customize and also events to manage.
</p>
<hr />
<p>
    This is a open source component, you can check and customize the code if you want. Here is the
    <a href="https://github.com/drualcman/BlazorInputFileExtended" target="_blank">repository</a>
</p>
<hr />
<p>If you want can support this project by clicking in some of our donations pages.</p>
<ul>
    <li>
        <a href="https://ko-fi.com/drualcman">Ko-fi</a>
    </li>
    <li>
        <a href="https://liberapay.com/drualcman/">Liberapay</a>
    </li>
    <li>
        <a href="https://issuehunt.io/r/drualcman/BlasorIndexedDb">IssueHunt</a>
    </li>
</ul>




