@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

body pre {
    background: #fbfbfb;
    color: black;
    font-family: sans-serif;
    border-radius: 1rem;
    box-shadow: inset whitesmoke 0px 0px 1rem 0.15rem;
    padding: 1rem;
}

body pre code {
    color: black;
}
body var {
    background-color: black;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: small;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01rem;
    font-family: sans-serif, Arial
}

/* Error */

body #blazor-error-ui {
    background-color: rgba(10, 10, 10, 0.86);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1000;
    display: none;
}

    body #blazor-error-ui .content-wp {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    body #blazor-error-ui .box-content {
        background: #fff;
        border-radius: 20px;
        max-width: 450px;
        padding: 20px;
        text-align: center;
        position: relative;
    }

        body #blazor-error-ui .box-content p {
            font-weight: 500;
            color: #333;
            margin-bottom: 20px;
        }

        body #blazor-error-ui .box-content a.reload {
            display: inline-block;
            padding: 12px 20px;
            background: #000;
            border-radius: 12px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.9em;
            margin-bottom: 25px;
        }

        body #blazor-error-ui .box-content a.send-feedback-btn {
            font-size: 14px;
            font-weight: 400;
            color: #666;
            text-decoration: underline;
            position: absolute;
            bottom: 10px;
            right: 20px;
        }

        body #blazor-error-ui .box-content .is-no-event {
            pointer-events: none;
        }

        body #blazor-error-ui .box-content .icon {
            font-size: 7em;
            color: #ec6c6c;
        }

    body #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }