.gallery, .gallery li {
    list-style: none;
}

   .gallery .col.image {
        min-height: 100px;
        width: 100%;
        margin: 0.5rem;
        padding:0;
    }

    .gallery .data {
        background-color: rgb(255 255 255 / 60%);
        color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
    }

    .gallery .file-id {
        font-size: x-small;
        display: inline-block;
        width: 100%;
    }

    .gallery .btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
