<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><span class="oi oi-home" aria-hidden="true"></span> Home</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="license" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> License
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="get-started" Match="NavLinkMatch.All">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Get Started
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="changes-log" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Changes Log
            </NavLink>
        </li>
        <li>
            <a href="javascript:void()" class="nav-link"><h3>How to use</h3></a>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="how-to-use/basic" Match="NavLinkMatch.All">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Basic
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="how-to-use/change-buttons" Match="NavLinkMatch.All">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Change Buttons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="how-to-use/handler" Match="NavLinkMatch.All">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Handler
            </NavLink>
        </li>
        <li>
            <a href="javascript:void()" class="nav-link"><h3>Wiki</h3></a>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wiki/properties" Match="NavLinkMatch.All">
                <span class="oi oi-browser" aria-hidden="true"></span> Properties
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wiki/fields" Match="NavLinkMatch.All">
                <span class="oi oi-inbox" aria-hidden="true"></span> Fields
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wiki/methods" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Methods
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wiki/events" Match="NavLinkMatch.All">
                <span class="oi oi-bolt" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wiki/handler" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Handler
            </NavLink>
        </li>
        <li>
            <a href="javascript:void()" class="nav-link"><h3>Demos</h3></a>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demos/single" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> Single file
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demos/multiple" Match="NavLinkMatch.All">
                <span class="oi oi-folder" aria-hidden="true"></span> Multiple files
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demos/many-files" Match="NavLinkMatch.All">
                <span class="oi oi-folder" aria-hidden="true"></span> Multiple input file
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
