@page "/wiki/fields"
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6750814218988007"
     data-ad-slot="2643405184"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<h1>Fields</h1>
<p>To call the fields you must be to set a reference to the component</p>
<ul>
    <li><strong>Files:</strong> <var>readonly</var> Use the <var>InputFileHandler</var> <i>object</i> directly to get all the files</li>
    <li><strong>InputFieldId:</strong> <var>readonly</var> Id assigned to the input file.</li>
</ul>
