@page "/wiki/methods"
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6750814218988007"
         data-ad-slot="2643405184"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <h1>Methods</h1>
<p>To call the methods you must be to set a reference to the component</p>
    <ul>
        <li><strong>Clean:</strong> Remove all the files from the component</li>
        <li><strong>LoadDropScriptsAsync</strong> Enable the drag and drop when the user want.</li>
        <li><strong>UnLoadDropScriptsAsync</strong> Disabled drag and drop options and remove the JavaScript from the <var>HEAD</var> in the page.</li>
    </ul>
