@page "/wiki/methods"
<h1>Methods</h1>
<p>To call the methods you must be to set a reference to the component</p>
<ul>
    <li><strong>FormSave:</strong>Send the form. This must be used with component reference when is inside of the <var>EditForm</var> with Context</li>
    <li><strong>Clean:</strong> Remove all the files from the component</li>
    <li><strong>LoadDropScriptsAsync</strong> Enable the drag and drop when the user want.</li>
    <li><strong>UnLoadDropScriptsAsync</strong> Disabled drag and drop options and remove the JavaScript from the <var>HEAD</var> in the page.</li>
</ul>


<GAdSense />