@page "/wiki/properties"
<h1>Properties</h1>
<p>To call the fields you must be to set a reference to the component</p>
<ul>
    <li><strong>Files:</strong> <var>readonly</var> Use the <var>InputFileHandler</var> <i>object</i> directly to get all the files</li>
    <li><strong>InputFieldId:</strong> <var>readonly</var> Id assigned to the input file.</li>
</ul>


<GAdSense />